  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark d-flex justify-content-end">
    <a href="/profiles">Profiles</a>
    <a href="/gyms">Gyms</a>
    <% if (user) { %>
      <a href="/auth/logout">Logout</a> 
      <a href="/profiles/<%= user.profile._id %>">
        <img id="profile-avatar" class="rounded-circle avatar-img" src="<%= user.profile.avatar %>" alt="">
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
